# Ignore virtual environment
venv/
__pycache__/
*.pyc

# Ignore notebooks
notebooks/
*.ipynb

# Ignore some folders: evaluation outputs, utils and data
outputs_evaluation/
utils/ 
data/ 

# Ignore other temporary files
*.log
.DS_Store
.env
